@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 5%;
  --foreground: 0 0% 95%;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(135deg, #0a0909 0%, #1e1e1e 100%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
